.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.modal__content {
  position: relative;
  max-width: 430px;
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  padding: 34px 36px 28px;
}

.modal__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../../assets/close_button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: contain;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0;
  padding: 0 0 22px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  line-height: 28.13px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 12px 0 12px 1px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  margin-bottom: 16px;
  margin-left: -1px;
}

.modal__label {
  margin: 0 0 10px;
  margin-bottom: 10px;
  color: #2f71e5;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 14.52px;
}

@media screen and (max-width: 768px) {
  .modal__content {
    padding: 35px 24px 30px;
  }

  .modal__close-button {
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 24px;
    margin-left: 7px;
  }

  .modal__input {
    font-size: 14px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
  }

  .modal__label {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
    margin-left: 10px;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    background-color: black;
  }

  .modal__content {
    width: 340px;
    height: 470px;
    padding: 20px;
    margin: 0 auto;
    display: block;
  }

  .modal__close-button {
    right: 5px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    z-index: 1;
  }

  .modal__title {
    font-size: 18px;
  }

  .modal__input {
    font-size: 12px;
  }

  .modal__label {
    font-size: 12px;
  }
}