.modal__login-button {
  color: #2f71e5;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 14px;
  opacity: 100%;
  transition: 0.25s ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.modal__content_type_success {
  position: relative;
  background-color: #fff;
  width: 430px;
  border-radius: 16px;
  padding: 34px 36px 28px;
}

.modal__title_type_success {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #1a1b22;
  margin-top: 0;
  line-height: 28.13px;
  margin-left: 0;
  width: 315px;
}

@media screen and (max-width: 768px) {
  .modal__content_type_success {
    width: 282px;
  }
}
