.about {
  display: flex;
  height: 720px;
  background-color: white;
  padding: 0 20px;
  flex-direction: row;
  justify-content: center;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;
  margin: 140px 40px 0;
  flex-shrink: 0;
}

.about__content {
  padding: 0 20px;
  margin-top: 200px;
}

.about__title {
  margin: 0;
  padding: 131px 0 24px;
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-top: -120px;
}

.about__paragraph {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 600px;
}

@media screen and (max-width: 1100px) {
  .about {
    height: auto;
    padding: 0px;
  }

  .about__image {
    width: 232px;
    height: 232px;
    margin: 140px 30px 0;
  }

  .about__title {
    padding: 0 0 24px;
    font-size: 32px;
    line-height: 40px;
  }

  .about__pargraph {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    height: auto;
    flex-direction: column;
  }
  .about__image {
    width: 272px;
    height: 272px;
    position: relative;
    margin: 20px auto;
  }

  .about__content {
    margin-top: 120px;
    padding: 0 20px;
  }

  .about__title {
    padding: 40px 0 16px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .about__description {
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: 0;
  }

  .about__paragraph {
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
  }
}