.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 19px 104px 0 104px;
}

.nav[data-theme="dark"] {
  --primary: #fff;
  --border: rgba(255, 255, 255, 0.2);
}

.nav[data-theme="light"] {
  --primary: black;
  --border: #d1d2d6;
}

.nav__logo {
  font-family: "Roboto-Slab", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: var(--primary);
}

.nav__menu-btn {
  display: none;
}

.nav__list-item {
  text-decoration: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.nav__signin-btn {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background: none;
  font-family: "Roboto-500", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  color: var(--primary);
  border-color: (var(--border));
  padding: 0;
}

.nav__signin-btn:hover {
  cursor: pointer;
}

.nav__link {
  font-family: "Roboto-500", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: var(--primary);
}

.nav__link_focused {
  border-bottom: solid;
  border-color: (var(--primary));
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 3px;
}

.nav__signout-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 100px;
  border-width: 1px;
  border: solid;
  height: 48px;
  width: 112px;
  background: transparent;
  padding: 0;
  color: var(--primary);
}

.nav__signout-name {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.nav__signout-btn {
  border: none;
  background-image: url("../../assets/logout-black.svg");
  height: 24px;
  width: 24px;
  background-size: cover;
  background-color: transparent;
}

.nav__signout-btn:hover {
  cursor: pointer;
}

.nav__signout-btn--white {
  background-image: url("../../assets/logout-white.svg");
}

@media screen and (max-width: 768px) {
  .nav__link {
    font-size: 16px;
  }

  .nav__signin-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 23px 40px 18px 40px;
  }

  .nav__list {
    display: none;
  }

  .nav__menu-btn {
    display: block;
    height: 24px;
    width: 24px;
    border: none;
    background: transparent;
    background-image: url("../../assets/menu-white.svg");
  }

  .nav__menu-btn--black {
    background-image: url("../../assets/menu-black.svg");
  }

  .nav__menu-btn--black:hover {
    cursor: pointer;
  }

  .nav__menu-btn:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    padding: 16px 16px 0 16px;
  }
}